.navigation {
  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image:radial-gradient($color-light-green,
     $color-dark-green);
    z-index: 1000;

    //transform: scale(80);

  }
  
  &__checkbox{
    display: none;
  }

  &__button{
    height: 7rem;
    width: 7rem;
    background-color: $color-primary-white;
    top: 6rem;
    right: 6rem;
    position: fixed;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, .1);
  }

  &__nav{
    height: 100vh;
    width: 0;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1500;
    opacity: 0;
  }

  &__list{
    @include centerHorizontal;

  }



  &__item{
    
  }


  &__link{
    &:link,
    &:visited{
      display: inline-block;
      text-decoration: none;
      font-size: 3rem;
      font-weight: 300;
      color: $color-primary-white;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, 
      transparent 50%, 
      $color-primary-white 50%);
      background-size: 235%;
      transition: all .4s;
     
    }

    span{
      margin-right: 1rem;
      display: inline-block;
     
    }

    

    &:hover,
    &:active{
      background-position: 100%;
      color: $color-light-green;
      transform: translateX(1rem);


    }
    

  }
 
}
